<a href="https://colab.research.google.com/github/nahidosen/Group_5_CSE445_3_Spring_21/blob/main/ipynb/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [196]:
!pip install scikit-plot

Requirement already satisfied: scikit-plot in /usr/local/lib/python3.7/dist-packages (0.3.7)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.0.1)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy>=0.9->scikit-plot) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.4.0->scikit-plot) (1.15.0)

In [197]:
# Importing necessary packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
import scikitplot as skplt
from sklearn.impute import SimpleImputer
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [198]:
data = 'https://raw.githubusercontent.com/nahidosen/Group_5_CSE445_3_Spring_21/main/dataset/IPL%20Matches%202008-2020.csv'

ipl = pd.read_csv(data)
ipl

          id        city        date  ... method      umpire1         umpire2
0     335982   Bangalore  2008-04-18  ...    NaN    Asad Rauf     RE Koertzen
1     335983  Chandigarh  2008-04-19  ...    NaN    MR Benson      SL Shastri
2     335984       Delhi  2008-04-19  ...    NaN    Aleem Dar  GA Pratapkumar
3     335985      Mumbai  2008-04-20  ...    NaN     SJ Davis       DJ Harper
4     335986     Kolkata  2008-04-20  ...    NaN    BF Bowden     K Hariharan
..       ...         ...         ...  ...    ...          ...             ...
811  1216547       Dubai  2020-09-28  ...    NaN  Nitin Menon      PR Reiffel
812  1237177       Dubai  2020-11-05  ...    NaN  CB Gaffaney     Nitin Menon
813  1237178   Abu Dhabi  2020-11-06  ...    NaN   PR Reiffel          S Ravi
814  1237180   Abu Dhabi  2020-11-08  ...    NaN   PR Reiffel          S Ravi
815  1237181       Dubai  2020-11-10  ...    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]

In [199]:
ipl.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [200]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [201]:
#ipl_2['city'] = ipl['city'].astype(str)
#ipl_2.info()

In [202]:
ipl_df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [203]:
ipl.nunique()

id                 816
city                32
date               596
player_of_match    233
venue               36
neutral_venue        2
team1               15
team2               15
toss_winner         15
toss_decision        2
winner              15
result               3
result_margin       91
eliminator           2
method               1
umpire1             48
umpire2             47
dtype: int64

In [204]:
ipl['city'].value_counts().sort_index()

Abu Dhabi          29
Ahmedabad          12
Bangalore          65
Bengaluru          15
Bloemfontein        2
Cape Town           7
Centurion          12
Chandigarh         56
Chennai            57
Cuttack             7
Delhi              74
Dharamsala          9
Dubai              26
Durban             15
East London         3
Hyderabad          64
Indore              9
Jaipur             47
Johannesburg        8
Kanpur              4
Kimberley           3
Kochi               5
Kolkata            77
Mumbai            101
Nagpur              3
Port Elizabeth      7
Pune               38
Raipur              6
Rajkot             10
Ranchi              7
Sharjah            12
Visakhapatnam      13
Name: city, dtype: int64

In [205]:
ipl_2 = ipl
ipl_2['city'] = ipl_2['city'].replace('Bangalore', 'Bengaluru')
ipl_2['city'].value_counts().sort_index()

Abu Dhabi          29
Ahmedabad          12
Bengaluru          80
Bloemfontein        2
Cape Town           7
Centurion          12
Chandigarh         56
Chennai            57
Cuttack             7
Delhi              74
Dharamsala          9
Dubai              26
Durban             15
East London         3
Hyderabad          64
Indore              9
Jaipur             47
Johannesburg        8
Kanpur              4
Kimberley           3
Kochi               5
Kolkata            77
Mumbai            101
Nagpur              3
Port Elizabeth      7
Pune               38
Raipur              6
Rajkot             10
Ranchi              7
Sharjah            12
Visakhapatnam      13
Name: city, dtype: int64

In [206]:
ipl_2['player_of_match'].sort_values().unique()

array(['A Chandila', 'A Kumble', 'A Mishra', 'A Nehra', 'A Nortje',
       'A Singh', 'A Symonds', 'A Zampa', 'AA Jhunjhunwala', 'AB Dinda',
       'AB de Villiers', 'AC Gilchrist', 'AC Voges', 'AD Mascarenhas',
       'AD Mathews', 'AD Russell', 'AJ Finch', 'AJ Tye', 'AM Rahane',
       'AP Tare', 'AR Patel', 'AS Joseph', 'AS Rajpoot', 'AT Rayudu',
       'Azhar Mahmood', 'B Kumar', 'B Lee', 'B Stanlake', 'BA Bhatt',
       'BA Stokes', 'BB McCullum', 'BCJ Cutting', 'BJ Hodge',
       'BW Hilfenhaus', 'CA Lynn', 'CH Gayle', 'CH Morris', 'CJ Anderson',
       'CJ Jordan', 'CL White', 'CR Brathwaite', 'CRD Fernando',
       'CV Varun', 'DA Miller', 'DA Warner', 'DE Bollinger', 'DJ Bravo',
       'DJ Hooda', 'DJ Hussey', 'DJG Sammy', 'DL Chahar', 'DL Vettori',
       'DP Nannes', 'DPMD Jayawardene', 'DR Smith', 'DW Steyn',
       'EJG Morgan', 'F du Plessis', 'G Gambhir', 'GC Smith',
       'GD McGrath', 'GH Vihari', 'GJ Bailey', 'GJ Maxwell', 'HF Gurney',
       'HH Gibbs', 'HH Pandya', 'HM Amla', 'HV Patel', 'Harbhajan Singh',
       'Harmeet Singh', 'I Sharma', 'IK Pathan', 'Imran Tahir',
       'Iqbal Abdulla', 'Ishan Kishan', 'J Botha', 'J Theron',
       'JA Morkel', 'JC Archer', 'JC Buttler', 'JD Ryder', 'JD Unadkat',
       'JDP Oram', 'JEC Franklin', 'JH Kallis', 'JJ Bumrah', 'JJ Roy',
       'JM Bairstow', 'JP Duminy', 'JP Faulkner', 'K Rabada',
       'KA Pollard', 'KC Sangakkara', 'KD Karthik', 'KH Pandya',
       'KK Ahmed', 'KK Cooper', 'KK Nair', 'KL Rahul', 'KM Jadhav',
       'KMA Paul', 'KMDN Kulasekara', 'KP Pietersen', 'KS Williamson',
       'KV Sharma', 'Kuldeep Yadav', 'L Balaji', 'L Ngidi', 'LH Ferguson',
       'LJ Wright', 'LMP Simmons', 'LR Shukla', 'LRPL Taylor', 'M Kartik',
       'M Morkel', 'M Muralitharan', 'M Ntini', 'M Vijay', 'M Vohra',
       'MA Agarwal', 'MA Starc', 'MC Henriques', 'MD Mishra',
       'MEK Hussey', 'MF Maharoof', 'MG Johnson', 'MJ Lumb',
       'MJ McClenaghan', 'MK Pandey', 'MK Tiwary', 'ML Hayden',
       'MM Patel', 'MM Sharma', 'MN Samuels', 'MP Stoinis', 'MR Marsh',
       'MS Bisla', 'MS Dhoni', 'MS Gony', 'MV Boucher', 'Mandeep Singh',
       'Mohammed Shami', 'Mohammed Siraj', 'Mujeeb Ur Rahman',
       'Mustafizur Rahman', 'N Rana', 'NM Coulter-Nile', 'NV Ojha',
       'P Kumar', 'P Negi', 'P Parameswaran', 'PA Patel', 'PC Valthaty',
       'PD Collingwood', 'PJ Cummins', 'PK Garg', 'PP Chawla', 'PP Ojha',
       'PP Shaw', 'PV Tambe', 'Q de Kock', 'R Ashwin', 'R Bhatia',
       'R Dravid', 'R McLaren', 'R Sharma', 'R Tewatia', 'R Vinay Kumar',
       'RA Jadeja', 'RA Tripathi', 'RD Gaikwad', 'RE Levi', 'RG Sharma',
       'RJ Harris', 'RP Singh', 'RR Pant', 'RS Bopara', 'RV Uthappa',
       'Rashid Khan', 'S Anirudha', 'S Aravind', 'S Badrinath',
       'S Dhawan', 'S Gopal', 'S Nadeem', 'S Sohal', 'S Sreesanth',
       'SA Asnodkar', 'SA Yadav', 'SB Jakati', 'SB Wagh', 'SC Ganguly',
       'SE Marsh', 'SK Raina', 'SK Trivedi', 'SK Warne', 'SL Malinga',
       'SM Curran', 'SM Katich', 'SM Pollock', 'SO Hetmyer', 'SP Goswami',
       'SP Narine', 'SPD Smith', 'SR Tendulkar', 'SR Watson', 'SS Iyer',
       'ST Jayasuriya', 'SV Samson', 'SW Billings', 'Sandeep Sharma',
       'Shakib Al Hasan', 'Shivam Mavi', 'Shoaib Akhtar', 'Shubman Gill',
       'Sohail Tanvir', 'TA Boult', 'TG Southee', 'TL Suman',
       'TM Dilshan', 'UT Yadav', 'Umar Gul', 'V Kohli', 'V Sehwag',
       'VR Aaron', 'WP Saha', 'WPUJC Vaas', 'Washington Sundar',
       'YK Pathan', 'YS Chahal', 'Yuvraj Singh', 'Z Khan', nan],
      dtype=object)

In [207]:
ipl_2['venue'].value_counts().sort_index()

Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Dubai International Cricket Stadium                     33
Eden Gardens                                            77
Feroz Shah Kotla                                        74
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
JSCA International Stadium Complex                       7
Kingsmead                                               15
M Chinnaswamy Stadium                                   65
M.Chinnaswamy Stadium                                   15
MA Chidambaram Stadium, Chepauk                         57
Maharashtra Cricket Association Stadium                 21
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               64
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                  10
Sawai Mansingh Stadium                                  47
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                 18
Sheikh Zayed Stadium                                    29
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        73
Name: venue, dtype: int64

In [208]:
ipl_2['venue'] = ipl_2['venue'].replace('M Chinnaswamy Stadium', 'M. Chinnaswamy Stadium')
ipl_2['venue'].value_counts().sort_index()

Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Dubai International Cricket Stadium                     33
Eden Gardens                                            77
Feroz Shah Kotla                                        74
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
JSCA International Stadium Complex                       7
Kingsmead                                               15
M. Chinnaswamy Stadium                                  65
M.Chinnaswamy Stadium                                   15
MA Chidambaram Stadium, Chepauk                         57
Maharashtra Cricket Association Stadium                 21
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               64
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                  10
Sawai Mansingh Stadium                                  47
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                 18
Sheikh Zayed Stadium                                    29
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        73
Name: venue, dtype: int64

In [209]:
ipl_2['venue'] = ipl_2['venue'].replace('M.Chinnaswamy Stadium', 'M. Chinnaswamy Stadium')
ipl_2['venue'].value_counts().sort_index()

Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Dubai International Cricket Stadium                     33
Eden Gardens                                            77
Feroz Shah Kotla                                        74
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
JSCA International Stadium Complex                       7
Kingsmead                                               15
M. Chinnaswamy Stadium                                  80
MA Chidambaram Stadium, Chepauk                         57
Maharashtra Cricket Association Stadium                 21
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               64
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                  10
Sawai Mansingh Stadium                                  47
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                 18
Sheikh Zayed Stadium                                    29
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        73
Name: venue, dtype: int64

In [210]:
ipl_2['venue'] = ipl_2['venue'].replace('Punjab Cricket Association Stadium, Mohali', 'Punjab Cricket Association IS Bindra Stadium, Mohali')
ipl_2['venue'].value_counts().sort_index()

Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Dubai International Cricket Stadium                     33
Eden Gardens                                            77
Feroz Shah Kotla                                        74
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
JSCA International Stadium Complex                       7
Kingsmead                                               15
M. Chinnaswamy Stadium                                  80
MA Chidambaram Stadium, Chepauk                         57
Maharashtra Cricket Association Stadium                 21
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    56
Rajiv Gandhi International Stadium, Uppal               64
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                  10
Sawai Mansingh Stadium                                  47
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                 18
Sheikh Zayed Stadium                                    29
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        73
Name: venue, dtype: int64

In [211]:
ipl_2['neutral_venue'].value_counts().sort_index()

0    739
1     77
Name: neutral_venue, dtype: int64

In [212]:
ipl_2['team1'].value_counts().sort_index()

Chennai Super Kings             94
Deccan Chargers                 39
Delhi Capitals                  19
Delhi Daredevils                83
Gujarat Lions                   16
Kings XI Punjab                 92
Kochi Tuskers Kerala             7
Kolkata Knight Riders           95
Mumbai Indians                  97
Pune Warriors                   23
Rajasthan Royals                70
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Royal Challengers Bangalore    108
Sunrisers Hyderabad             59
Name: team1, dtype: int64

In [213]:
ipl_2 = ipl_2.replace('Rising Pune Supergiants', 'Rising Pune Supergiant')
ipl_2['team1'].value_counts().sort_index()

Chennai Super Kings             94
Deccan Chargers                 39
Delhi Capitals                  19
Delhi Daredevils                83
Gujarat Lions                   16
Kings XI Punjab                 92
Kochi Tuskers Kerala             7
Kolkata Knight Riders           95
Mumbai Indians                  97
Pune Warriors                   23
Rajasthan Royals                70
Rising Pune Supergiant          14
Royal Challengers Bangalore    108
Sunrisers Hyderabad             59
Name: team1, dtype: int64

In [214]:
ipl_2['team2'].value_counts().sort_index()

Chennai Super Kings             84
Deccan Chargers                 36
Delhi Capitals                  14
Delhi Daredevils                78
Gujarat Lions                   14
Kings XI Punjab                 98
Kochi Tuskers Kerala             7
Kolkata Knight Riders           97
Mumbai Indians                 106
Pune Warriors                   23
Rajasthan Royals                91
Rising Pune Supergiant          16
Royal Challengers Bangalore     87
Sunrisers Hyderabad             65
Name: team2, dtype: int64

In [215]:
ipl_2['toss_winner'].value_counts().sort_index()

Chennai Super Kings             97
Deccan Chargers                 43
Delhi Capitals                  20
Delhi Daredevils                80
Gujarat Lions                   15
Kings XI Punjab                 85
Kochi Tuskers Kerala             8
Kolkata Knight Riders           98
Mumbai Indians                 106
Pune Warriors                   20
Rajasthan Royals                87
Rising Pune Supergiant          13
Royal Challengers Bangalore     87
Sunrisers Hyderabad             57
Name: toss_winner, dtype: int64

In [216]:
ipl_2['toss_decision'].value_counts().sort_index()

bat      320
field    496
Name: toss_decision, dtype: int64

In [217]:
ipl_2['winner'].value_counts().sort_index()

Chennai Super Kings            106
Deccan Chargers                 29
Delhi Capitals                  19
Delhi Daredevils                67
Gujarat Lions                   13
Kings XI Punjab                 88
Kochi Tuskers Kerala             6
Kolkata Knight Riders           99
Mumbai Indians                 120
Pune Warriors                   12
Rajasthan Royals                81
Rising Pune Supergiant          15
Royal Challengers Bangalore     91
Sunrisers Hyderabad             66
Name: winner, dtype: int64

In [218]:
ipl_2['result'].value_counts().sort_index()

runs       364
tie         13
wickets    435
Name: result, dtype: int64

In [219]:
ipl_2['result_margin'].value_counts()

6.0      95
7.0      94
5.0      85
8.0      67
4.0      53
         ..
76.0      1
88.0      1
67.0      1
36.0      1
140.0     1
Name: result_margin, Length: 91, dtype: int64

In [220]:
ipl_2['eliminator'].value_counts()

N    799
Y     13
Name: eliminator, dtype: int64

In [221]:
ipl_2['method'].value_counts()

D/L    19
Name: method, dtype: int64

In [222]:
ipl_2['umpire1'].value_counts().sort_index()

A Deshmukh                5
A Nand Kishore           14
AK Chaudhary             56
AM Saheba                 3
AV Jayaprakash            2
AY Dandekar              28
Aleem Dar                38
Asad Rauf                51
BF Bowden                37
BG Jerling               13
BNJ Oxenford             16
BR Doctrove              34
C Shamshuddin            22
CB Gaffaney              34
CK Nandan                 8
DJ Harper                 9
GAV Baxter                7
HDPK Dharmasena          78
IJ Gould                  3
IL Howell                 7
JD Cloete                16
K Bharatan                3
K Hariharan              10
K Srinath                 2
KN Ananthapadmanabhan    33
M Erasmus                40
MR Benson                10
NJ Llong                 21
Nitin Menon              20
PG Pathak                 4
PR Reiffel                5
RE Koertzen              20
RJ Tucker                 5
RK Illingworth           13
RM Deshpande              7
S Asnani                 19
S Das                    10
S Ravi                   37
SD Fry                    5
SJ Davis                  6
SJA Taufel                1
SK Tarapore               5
SL Shastri                1
SS Hazare                11
UV Gandhe                 8
VA Kulkarni              19
VK Sharma                 6
YC Barde                 14
Name: umpire1, dtype: int64

In [223]:
ipl_2['umpire2'].value_counts().sort_index()

A Deshmukh          7
A Nand Kishore     11
AK Chaudhary       31
AL Hill             6
AM Saheba          23
AV Jayaprakash      4
BG Jerling          4
BNJ Oxenford       32
BR Doctrove         8
C Shamshuddin      60
CB Gaffaney        13
CK Nandan          49
DJ Harper          18
GA Pratapkumar      6
HDPK Dharmasena    16
I Shivram           6
IJ Gould            3
IL Howell           7
JD Cloete           1
K Hariharan        11
K Srinath          13
K Srinivasan        6
M Erasmus          25
MR Benson           2
NJ Llong           16
Nitin Menon        37
PG Pathak           7
PR Reiffel         19
RB Tiffin          30
RE Koertzen        21
RJ Tucker          41
RK Illingworth     18
S Asnani           11
S Das               5
S Ravi             84
SD Fry              1
SD Ranade           2
SJ Davis            1
SJA Taufel         54
SK Tarapore        26
SL Shastri         13
SS Hazare           6
Subroto Das         1
TH Wijewardene      5
VA Kulkarni        31
VK Sharma          20
YC Barde            5
Name: umpire2, dtype: int64

In [224]:
ipl_2 = ipl_2.drop_duplicates(keep = 'first')
ipl_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 114.8+ KB

In [225]:
ipl_3 = ipl_2
ipl_3 = ipl_3.drop(['id'], axis = 1)
ipl_3 = ipl_3.drop(['player_of_match'], axis = 1)
ipl_3 = ipl_3.drop(['result'], axis = 1)
ipl_3 = ipl_3.drop(['result_margin'], axis = 1)
ipl_3 = ipl_3.drop(['method'], axis = 1)
ipl_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city           803 non-null    object
 1   date           816 non-null    object
 2   venue          816 non-null    object
 3   neutral_venue  816 non-null    int64
 4   team1          816 non-null    object
 5   team2          816 non-null    object
 6   toss_winner    816 non-null    object
 7   toss_decision  816 non-null    object
 8   winner         812 non-null    object
 9   eliminator     812 non-null    object
 10  umpire1        816 non-null    object
 11  umpire2        816 non-null    object
dtypes: int64(1), object(11)
memory usage: 82.9+ KB

In [226]:
ipl_3['winner'].fillna('Tie', inplace=True)
ipl_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city           803 non-null    object
 1   date           816 non-null    object
 2   venue          816 non-null    object
 3   neutral_venue  816 non-null    int64
 4   team1          816 non-null    object
 5   team2          816 non-null    object
 6   toss_winner    816 non-null    object
 7   toss_decision  816 non-null    object
 8   winner         816 non-null    object
 9   eliminator     812 non-null    object
 10  umpire1        816 non-null    object
 11  umpire2        816 non-null    object
dtypes: int64(1), object(11)
memory usage: 82.9+ KB

In [227]:
ipl_3[ipl_3['eliminator'].isnull() == True]

          city        date  ...          umpire1       umpire2
241      Delhi  2011-05-21  ...        SS Hazare     RJ Tucker
486  Bengaluru  2015-04-29  ...        JD Cloete     PG Pathak
511  Bengaluru  2015-05-17  ...  HDPK Dharmasena  K Srinivasan
744  Bengaluru  2019-04-30  ...        UV Gandhe      NJ Llong

[4 rows x 12 columns]